﻿@using Goliath.Cms
@using Goliath.Cms.Data
@using Goliath.Web
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Goliath.Models.EditViewModel<Goliath.Cms.Models.SecurityDashboardModel>>

@{
    Layout = "_main_master.cshtml";
    var user = Html.GetCurrentUser();
}
<script src="~/Content/js/tables.js"></script>
<div class="row">
    <div class="col-md-2">
        <div class="sidebar content-box" style="display: block;">
            @Html.ControlPanel(user, "Users", "AccessManagementMenu")
        </div>
    </div>
    <div class="col-md-10">
        <div class="">
            <div class="content-box-header">
                <div class="panel-options-b">
                    <a href="#" data-rel="add"><i class="fa fa-user-plus"></i></a>
                    <a href="#" class="disabled" data-rel="delete"><i class="fa fa-trash"></i></a>
                    @*<a href="#" data-rel="update"><i class="fa fa-pencil"></i></a>*@
                </div>
                <div class="panel-title">Users</div>
            </div>
            <div class="content-box-large box-with-header">
                <div class="table-responsive">
                    <table id="usersTb" class="table table-striped  table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@Html.TextFromEntityResource("goliath_cms_data_user_username_label")</th>
                                <th>@Html.TextFromEntityResource("goliath_cms_data_user_firstname_label")</th>
                                <th>@Html.TextFromEntityResource("goliath_cms_data_user_lastname_label")</th>
                                <th>@Html.TextFromEntityResource("goliath_cms_data_user_emailaddress_label")</th>
                                <th>@Html.TextFromEntityResource("goliath_cms_data_user_isactive_label")</th>
                                <th>@Html.TextFromEntityResource("goliath_cms_data_user_lastloginon_label")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Data.Users)
                            {
                                <tr>
                                    <td><input type="checkbox" id="usr_cb@(item.Id)" name="usr_cb@(item.Id)" value="@(item.Id)" /> </td>
                                    <td><a href="/users/@(item.UserName)">@item.UserName</a></td>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.EmailAddress</td>
                                    <td>@item.IsActive</td>
                                    <td>@item.LastLoginOn</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        var totalUserPages = @(Model.Data.PageCount);

                        function formatColumns (colname, colValue) {
                            switch (colname) {
                                case "userName":
                                    return '<a href="@Url.ContentLocalized("~/users/")"' + colValue + '">' + colValue + "</a>";
                                case "lastLoginOn":
                                    if (colValue == null) {
                                        return " ";
                                    }
                                    else{ return new Date(colValue).toLocaleDateString();}
                                default:
                                    return colValue;
                            }
                        }

                        $(document).ready(function() {
                            $('#usersTb').goTable({
                                url: '@Url.ContentLocalized("~/api/users")',
                                limit: 10,
                                offset: 0,
                                currentPage: 1,
                                totalPages: totalUserPages,
                                columns: ["userName", "firstName", "lastName", "emailAddress", "isActive", "lastLoginOn"],
                                isPreloaded: true,
                                skipFirstColumn: true,
                                sortColumn: "@(PropertyNames.User.LastName)",
                                formatColumn: formatColumns,
                                firstColumnFormat: makeFirstColumnCheckbox
                            });
                        });

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        <div class="">
            <div class="content-box-header">
                <div class="panel-title">Recent Activity</div>
            </div>
            <div class="content-box-large box-with-header">
                @Html.Partial("auth_activity_log", Model.Data.AccessLog)
            </div>
        </div>
    </div>
</div>