@using System.Collections.Generic
@using Goliath.Cms
@using Goliath.Web
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Goliath.Models.ListViewModel<Goliath.Cms.Data.Role>>
@{
    Layout = "_main_master.cshtml";
    var user = Html.GetCurrentUser();
}
<script src="~/Content/js/tables.js"></script>
<div class="col-md-2">
    <div class="sidebar content-box" style="display: block;">
        @Html.ControlPanel(user, "Roles", "AccessManagementMenu")
    </div>
</div>
<div class="col-md-10">
    <div class="">
        <div class="content-box-header">
            <div class="panel-options-b">
                <a href="#" data-rel="add"><i class="fa fa-plus"></i></a>
                <a href="#" data-rel="delete"><i class="fa fa-trash"></i></a>
            </div>
            <div class="panel-title">Roles</div>
        </div>
        <div class="content-box-large box-with-header">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Html.TextFromEntityResource("goliath_cms_data_role_rolenumber_label")</th>
                            <th>@Html.TextFromEntityResource("goliath_cms_data_role_name_label")</th>
                            <th>@Html.TextFromEntityResource("goliath_cms_data_role_description_label")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td><a href="@Url.ContentLocalized("~/security/roles/")@item.Id">@item.Name</a></td>
                                <td>@item.RoleNumber</td>
                                <td>@item.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

