﻿@using System.Collections.Generic
@using Goliath.Cms
@using Goliath.Web


@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Goliath.Models.EditViewModel<Goliath.Models.RoleManageModel>>
@{
    Layout = "_main_master.cshtml";
    var user = Html.GetCurrentUser();
}

<div class="col-md-2">
    <div class="sidebar content-box" style="display: block;">
        @Html.ControlPanel(user, "Roles", "AccessManagementMenu")
    </div>
</div>
<div class="col-md-10">
    <h2>Role: @(Model.Data.RoleName)</h2>
    <p>@Model.Description</p>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" data-toggle="modal" href="" data-target="#modal"><i class="fa fa-user-plus" aria-hidden="true"></i> Add User</button>
        <button type="button" class="btn btn-default" data-toggle="modal" href="" data-target="#roleEditModal"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
    </div>
    <br />
    <br />
    <div class="content-box-header">
        <div class="panel-title">Users</div>
    </div>
    <div class="content-box-large box-with-header">
        <div class="panel-body">
            <form id="form-user_v1" name="form-user_v1" role="form" action="@Url.ContentLocalized("~/security/roles/addusers")" method="POST">
                <input type="hidden" name="RoleId" value="@(Model.Id)" />
                <input type="hidden" id="SelectedIds" name="SelectedIds" value="" />
            </form>
            <div id="modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Select Users</h4>
                        </div>
                        <div id="modalBody" class="modal-body" style="padding: 26px;">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="addUsersToRole" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div id="roleEditModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Edit Role</h4>
                        </div>
                        <form id="RoleEditForm" class="form-horizontal" role="form" action="@Url.ContentLocalized("~/security/roles/")@(Model.Id)/edit" method="POST">
                            <div id="roleEditModalBody" class="modal-body" style="padding: 28px;">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button id="saveRole" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->



            <br />
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th> </th>
                        <th>@Html.TextFromEntityResource("goliath_cms_data_user_username_label")</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data.Users.Items)
                    {
                        <tr>
                            <td><a title="Disassociate user with role" href="@Url.ContentLocalized("~/security/roles/"+ Model.Id +"/removeuser/")@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                            <td>@item.UserName</td>
                            <td>@item.FullName</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        @{
            int permCounter = 0;
        }
    </div>
    <div class="content-box-header">
        <div class="panel-title">Permissions</div>
    </div>
    <div class="content-box-large box-with-header">
        <div class="panel-body">
            <form class="form-horizontal" role="form" action="@Url.ContentLocalized("~/security/roles/")@(Model.Id)/permissions" method="POST">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Resource</th>
                            <th>Permissions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Data.Permissions.Items)
                        {
                            <tr>
                                <td><span class="badge">@item.ResourceId</span> <input type="hidden" name="ResourceId[@(permCounter)]" value="@(item.ResourceId)" /></td>
                                <td>@item.ResourceName<input type="hidden" name="ResourceName[@(permCounter)]" value="@(item.ResourceName)" /></td>
                                <td>
                                    @Html.PermissionList(item, Model.Data.ActionList, permCounter)
                                </td>
                            </tr>
                            permCounter++;
                        }
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
<script src="~/Content/js/jquery.typeahead.min.js?v=2.5"></script>
<script>
    $('#modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal

        $("#modalBody").load("@Url.ContentLocalized("~/user/modal")");
        $("#addUsersToRole").click(function () {

            var ids = "";
            $("#modalBody :checked").each(function () {
                ids += ($(this).val() + ",");
            });

            ids = ids.substr(0, ids.length - 1);
            $("#SelectedIds").val(ids);
            //alert(ids);
            $("#form-user_v1").submit();
        });
    });

    $('#roleEditModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal

        $("#roleEditModalBody").load("@Url.ContentLocalized("~/security/roles/")@(Model.Id)/edit");
        $("#saveRole").click(function () {
            $("#RoleEditForm").submit();
            //$("#form-user_v1").submit();
        });
    });
</script>