﻿@using System.Collections.Generic
@using Goliath.Web.Authorization
@using Goliath.Ums.Data
@using Goliath.Web

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    UserSession user = new UserSession();
    if (Html.IsAuthenticated)
    {
        user = (UserSession)Html.CurrentUser;
    }
}

@if (Html.IsAuthenticated)
{
    <div class="navbar-header pull-right">
        <ul class="nav pull-left">
            <!-- This works well for static text, like a username -->
            <li style="color: #fff;" class="navbar-text pull-left">@(user.FullName)</li>
            <!-- Add any additional bootstrap header items. This is a drop-down from an icon -->
            <li class="dropdown pull-right">
                <a href="#" data-toggle="dropdown" style="margin-top: 5px;" class="dropdown-toggle">
                    <span class="glyphicon glyphicon-user"></span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/users/id" title="Profile"><i class="fa fa-list-alt" aria-hidden="true"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#" id="signOutBtn"><i class="fa fa-sign-out"></i> Sign Out</a>
                        <form id="signOutFrm" action="~/auth/logoff" method="POST">
                            @Html.HiddenFor(PropertyNames.User.UserName, user.UserName, new Dictionary<string, object>() {})
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Required bootstrap placeholder for the collapsed menu -->
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <script>
        $("#signOutBtn").click(function() {
            $("#signOutFrm").submit();
        });
    </script>
}