﻿@using Goliath.Ums
@using Goliath.Ums.Data
@using Goliath.Web
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.ICollection<UserAccessLog>>

<div class="table-responsive">
    <table class="table table-striped  table-hover">
        <thead>
            <tr>
                <th>@Html.TextFromEntityResource("goliath_cms_data_useraccesslog_username_label")</th>
                <th>@Html.TextFromEntityResource("goliath_cms_data_useraccesslog_activitytype_label")</th>
                <th>@Html.TextFromEntityResource("goliath_cms_data_useraccesslog_createdon_label")</th>
                <th>@Html.TextFromEntityResource("goliath_cms_data_useraccesslog_ipaddress_label")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@Html.PrintActivityType(item.ActivityType)</td>
                    <td>@item.CreatedOn</td>
                    <td>@item.IpAddress</td>
                </tr>
            }
        </tbody>
    </table>
</div>