<div style="text-align:left">
        <p>Hello @(Model.FullName),</p>
        <p>Thanks for registering with @(Model.CompanyName).</p>
        <p>Please follow the link below to activate your account.</p>
        <p>@(Model.ActivationLink)</p>
        <p>Regards,</p>
        <p>The @(Model.CompanyName) Team</p>
 </div>