﻿@using System.Collections.Generic
@using Laventer.Core
@using Laventer.Core.Data
@using Laventer.Web

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Laventer.Core.Models.EditViewModel<Laventer.Core.Models.MachineDetailModel>>

@{
    Layout = "_main_master.cshtml";
    UserSession user = new UserSession();
    if (Html.IsAuthenticated)
    {
        user = (UserSession)Html.CurrentUser;
    }
}

<div class="col-md-2">
    @Html.Partial("_sidemenu", "plant")
</div>
@*<script src="~/Content/js/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="~/Content/js/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="~/Content/js/flot/jquery.flot.crosshair.min.js"></script>*@
<div class="col-md-10">
    @*<h3>Configure Machine</h3>*@
    <div class="row">
        @*<div class="col-md-5">
                <div class="content-box-header">
                    <div class="panel-title">@Html.TextFromEntityResource("laventer_core_data_machine_label")</div>
                </div>
                <div class="content-box-large box-with-header">
                    <div class="panel-body">

                        control
                    </div>
                </div>
            </div>*@
        <div class="col-md-5">
            <div class="content-box-header">
                <div class="panel-title">@Model.Data.Machine.Title</div>
            </div>
            <div class="content-box-large box-with-header">
                <div class="panel-body">
                    <table class="table">
                        @{
                            var tag = "reSCADA.Boolean.Bit_1.Value";
                            var imgSrc = @Url.RenderContext.ParsePath("~/Content/images/" + Model.Data.Machine.Name);
                        }
                        <tr>
                            <td>
                                <img id="imgstat" src="~/Content/images/nostate.png"/><br/>
                                     @*<img id="imgstat" src="ff" opc-tag-src='{"tag":"FEC_App.Pump1_Status.Value","config":{"formats":{"bad_q":"@(imgSrc)_down.png","bool_f":"@(imgSrc)_down.png","bool_t":"@(imgSrc)_up.png","float":"0.000","int":"0","string":"{0}"},"offset":0}}' />*@
                                <input id="machStatus" type="hidden" opc-tag-val='{"tag":"FEC_App.Pump1_Status.Value", "config":{"trigger":"trans", "fn":"change"}}'/>
                            </td>
                            <td><button id="btnchangeStat" type="button">Start</button></td>
                        </tr>
                    </table>
                    <script>
                        $(document).ready(function() {
                            pollForData();
                        });

                        function pollForData() {
                            var machState = OPC.get_value("FEC_App.Pump1_Status.Value");

                            if (machState === 'True') {
                                $('#imgstat').attr('src', '@(imgSrc)_up.png');
                                $("#btnchangeStat").html('Stop');
                            }
                            else if (machState === 'False') {
                                $('#imgstat').attr('src', '@(imgSrc)_down.png');
                                $("#btnchangeStat").html('Start');
                            }
                            setTimeout(function() {
                                pollForData();
                            }, 1000);
                        }
                    </script>

                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="content-box-header">
                <div class="panel-title">Details</div>
            </div>
            <div class="content-box-large box-with-header">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>@Html.TextFromEntityResource("laventer_core_data_machine_id_label")</th>
                            <td>@Model.Data.Machine.Id</td>
                        </tr>
                        <tr>
                            <th>@Html.TextFromEntityResource("laventer_core_data_machine_name_label")</th>
                            <td>@Model.Data.Machine.Name</td>
                        </tr>
                        <tr>
                            <th>@Html.TextFromEntityResource("laventer_core_data_machine_title_label")</th>
                            <td>@Model.Data.Machine.Title</td>
                        </tr>
                        <tr>
                            <th>@Html.TextFromEntityResource("laventer_core_data_machine_description_label")</th>
                            <td>@Model.Data.Machine.Description</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="content-box-header">
                <div class="panel-title">Incidents</div>
            </div>
            <div class="content-box-large box-with-header">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>  </th>
                                    <th>@Html.TextFromEntityResource("laventer_core_data_incident_title_label")</th>
                                    <th>@Html.TextFromEntityResource("laventer_core_data_incident_incidenttype_label")</th>
                                    <th>@Html.TextFromEntityResource("laventer_core_data_incident_severity_label")</th>
                                    <th>@Html.TextFromEntityResource("laventer_core_data_incident_createdon_label")</th>
                                    <th>@Html.TextFromEntityResource("laventer_core_data_incident_createdby_label")</th>
                                    <th>@Html.TextFromEntityResource("laventer_core_data_incident_notes_label")</th>
                                    <th>@Html.TextFromEntityResource("laventer_core_data_incident_machineid_label")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Data.Incidents)
                                {
                                    <tr>
                                        <td><a href="@Url.ContentLocalized("#")@item.Id">Edit</a> | <a href="@Url.ContentLocalized("#")@item.Id">Delete</a></td>
                                        <td>@item.Title</td>
                                        <td>@item.IncidentType</td>
                                        <td>@item.Severity</td>
                                        <td>@item.CreatedOn</td>
                                        <td>@item.CreatedBy</td>
                                        <td>@item.Notes</td>
                                        <td>@item.MachineId</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="content-box-header">
                <div class="panel-title">Operators</div>
            </div>
            <div class="content-box-large box-with-header">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped  table-hover">
                            <thead>
                                <tr>
                                    <th>@Html.TextFromEntityResource("laventer_core_data_contact_id_label")</th>
                                    <th>@Html.TextFromEntityResource("laventer_core_data_contact_firstname_label")</th>
                                    <th>@Html.TextFromEntityResource("laventer_core_data_contact_lastname_label")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Data.Operators)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
