﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Goliath.Models.ViewModel>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Goliath | @(Model.Title)</title>
        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/css/vertical-navbar.css?v=1.0">*@

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="~/Content/js/custom.js"></script>
        <script src="~/Content/js/tables.js"></script>
    </head>

    <body>
        @RenderBody()

    </body>

</html>