﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Goliath.Models.ViewModel>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Goliath | @(Model.Title)</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/css/vertical-navbar.css?v=1.0">

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="~/Content/js/custom.js"></script>
    </head>

    <body>
        <div class="navbar-primary">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header pull-left">
                        <a style="" class="navbar-brand" href="#">EMH</a>
                    </div>
                    @Html.Partial("_user_state")
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav pull-right">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        @Html.Partial("_verticalMenu", Model)
        <button type="button" class="btn btn-default btn-purple btn-xs navbar-twitch-toggle">
            <span class="glyphicon glyphicon-chevron-right nav-open"></span>
            <span class="glyphicon glyphicon-chevron-left nav-close"></span>
        </button>

        <div id="mainContent" class="page-content content">
            @RenderBody()
        </div>
        <footer id="mfoot" style="margin-left: -65px;">
            <div class="container">
                <div class="copy text-center">
                    Copyright 2014 <a href='#'>Website</a>
                </div>

            </div>
        </footer>
    </body>

</html>