﻿@using System.Collections.Generic
@using Goliath.Web.Authorization
@using Goliath.Cms;
@using Goliath.Cms.Services

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Goliath.Models.ViewModel>

@{
    UserSession user = new UserSession();
    if (Html.IsAuthenticated)
    {
        user = (UserSession)Html.CurrentUser;
    }
}

<div class="navbar navbar-inverse navbar-twitch" role="navigation">
    <div class="container">
        <div class="">
           @Html.SideMenu(user, Model)
        </div> 
    </div>
</div>
