@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<!DOCTYPE html>
<html>
<head>
    <title>Laventer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- styles -->
    <link href="~/Content/css/styles.css" rel="stylesheet"/>
    <link href="~/Content/css/login.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">

    <div class="page-content container">
        @*<div class="row" >
                <div  class="col-md-4 col-md-offset-4 login-wrapper" style="margin: 90px auto;">
                    <img src="~/Content/images/laventer_lg.png" />
                </div>

            </div>*@
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-wrapper">
                    <div class="box">
                        <div class="content-wrap">
                            <h5>Sign In</h5>
                            <div class="social">
                                <form action="~/auth/extern/@(Model.ReturnUrl)" method="POST">
                                    @*<div class="row ">
                                            <div class="col-md-12">
                                                <button type="submit" id="Facebook" name="Provider" value="Facebook" class="btn btn-primary  btn-block">
                                                    <i class="fa fa-facebook-square"></i> Login with Facebook
                                                </button>
                                                <br/>
                                            </div>
                                        </div>*@
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" id="Twitter" name="Provider" value="Twitter" class="btn btn-info form-control btn-block">
                                                <i class="fa fa-twitter-square"></i> Login with Twitter
                                            </button>
                                        </div>
                                    </div>
                                    <div class="division">
                                        <hr class="left">
                                        <span>or</span>
                                        <hr class="right">
                                    </div>
                                </form>
                            </div>
                            <form method="POST">
                                <input class="form-control" name="Username" type="text" placeholder="Username">
                                <input class="form-control" name="Password" type="password" placeholder="Password">
                                <div class="input-group">
                                    <div class="checkbox">
                                        <label>
                                            <input id="login-remember" type="checkbox" name="RememberMe" value="1"> Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-large btn-danger">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    @*<div class="already">
                            <p>Don't have an account yet?</p>
                            <a href="signup.html">Sign Up</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/js/custom.js"></script>
</body>
</html>