﻿@using System.Collections.Generic
@using Laventer.Core
@using Laventer.Core.Data
@using Laventer.Web

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Laventer.Core.Models.EditViewModel<Laventer.Core.Data.Incident>>

@{
    Layout = "_main_master.cshtml";
    UserSession user = new UserSession();
    if (Html.IsAuthenticated)
    {
        user = (UserSession)Html.CurrentUser;
    }
}

<div class="col-md-2">
    @Html.Partial("_sidemenu", "plant")
</div>

<div class="col-md-10">
    <h3>Create Incident</h3>
    <div class="row">
       

        <div class="col-lg-10">
            @if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.HasError)
            {
                <div class='alert alert-danger'>
                    @Model.ExecutionInfo.Message
                <ul>
                    @foreach (var err in Model.ExecutionInfo.Errors.Values)
                    {
                        <li>@err.ErrorMessage</li>
                    }
                </ul>
            </div>}
            else if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.HasWarning)
            {
                <div class='alert alert-warning'>@Model.ExecutionInfo.Message</div>
            }
            else if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.Success)
            {
                <div class='alert alert-success'>@Model.ExecutionInfo.Message</div>
            }
            else if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.HasInfo)
            {
                <div class='alert alert-info'>@Model.ExecutionInfo.Message</div>
            }

        </div>
        <div class="col-md-10">
            <div class="content-box-header">
                <div class="panel-title">@Html.TextFromEntityResource("laventer_core_data_incident_label")</div>
            </div>
            <div class="content-box-large box-with-header">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="~/incident/add" method="post">
                        @Html.HiddenFor(PropertyNames.Incident.Id, Model.Data.Id, new Dictionary<string, object>() { })
                        <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Incident.Title)">
                            <label for="Title" class="col-sm-2 control-label">@Html.TextFromEntityResource("laventer_core_data_incident_title_label")</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(PropertyNames.Incident.Title, Model.Data.Title, new Dictionary<string, object>() { { "class", "form-control" } })
                            </div>
                        </div>
                        <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Incident.IncidentType)">
                            <label for="IncidentType" class="col-sm-2 control-label">@Html.TextFromEntityResource("laventer_core_data_incident_incidenttype_label")</label>
                            <div class="col-sm-10">
                                @Html.DropDownFor(c => c.Data.IncidentType, Model.Data.IncidentType, new Dictionary<string, object>() { { "class", "form-control" } })
                            </div>
                        </div>
                        <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Incident.Severity)">
                            <label for="Severity" class="col-sm-2 control-label">@Html.TextFromEntityResource("laventer_core_data_incident_severity_label")</label>
                            <div class="col-sm-10">
                                @Html.DropDownFor(c=>c.Data.Severity, Model.Data.Severity, new Dictionary<string, object>() { { "class", "form-control" } })
                            </div>
                        </div>
                        <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Incident.CreatedOn)">
                            <label for="CreatedOn" class="col-sm-2 control-label">@Html.TextFromEntityResource("laventer_core_data_incident_createdon_label")</label>
                            <div class="col-sm-10">
                                @Html.ReadOnlyFor(PropertyNames.Incident.CreatedOn, Model.Data.CreatedOn, new Dictionary<string, object>() { { "class", "form-control" } })
                            </div>
                        </div>
                        <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Incident.CreatedBy)">
                            <label for="CreatedBy" class="col-sm-2 control-label">@Html.TextFromEntityResource("laventer_core_data_incident_createdby_label")</label>
                            <div class="col-sm-10">
                                @Html.ReadOnlyFor(PropertyNames.Incident.CreatedBy, Model.Data.CreatedBy, new Dictionary<string, object>() { { "class", "form-control" } })
                            </div>
                        </div>
                        <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Incident.Notes)">
                            <label for="Notes" class="col-sm-2 control-label">@Html.TextFromEntityResource("laventer_core_data_incident_notes_label")</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(PropertyNames.Incident.Notes, Model.Data.Notes, new Dictionary<string, object>() { { "class", "form-control" }, { "rows", "5" } })
                            </div>
                        </div>
                        @Html.HiddenFor(PropertyNames.Incident.MachineId, Model.Data.MachineId, new Dictionary<string, object>() { { "class", "form-control" } })
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
