﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    Layout = "_main_master.cshtml";
}

<div style="margin: 0; padding: 8px;">
    <h2>Lorem Ipsum</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tincidunt velit, aliquet hendrerit nibh.
        Aenean ut urna sit amet ligula semper ornare. Donec efficitur aliquam nisi et blandit. Curabitur vel sodales felis.
        Cras laoreet molestie ligula eu tempor. Pellentesque tempus ipsum vitae orci viverra, sit amet dictum neque pulvinar.
        Cras placerat, risus a aliquet egestas, nisi justo vehicula elit, sed pharetra nisl arcu eu lectus.
        Nulla commodo diam in justo molestie laoreet. Integer eu venenatis eros, in tempus magna. Ut augue augue,
        egestas id erat vel, pellentesque posuere augue. Sed auctor ante nulla, et sagittis urna elementum ut. Curabitur
        dolor orci, luctus sed fermentum id, vestibulum id libero. Nulla luctus maximus convallis. Vivamus tristique egestas leo.
        Fusce id vulputate arcu. Phasellus tortor dui, aliquet sit amet purus vel, vestibulum pellentesque elit.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tincidunt velit, aliquet hendrerit nibh.
        Aenean ut urna sit amet ligula semper ornare. Donec efficitur aliquam nisi et blandit. Curabitur vel sodales felis.
        Cras laoreet molestie ligula eu tempor. Pellentesque tempus ipsum vitae orci viverra, sit amet dictum neque pulvinar.
        Cras placerat, risus a aliquet egestas, nisi justo vehicula elit, sed pharetra nisl arcu eu lectus.
    </p>
</div> 