﻿@using Goliath.Cms
@using Goliath.Cms.Data
@using Goliath.Web
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Goliath.Models.ListViewModel<Goliath.Cms.Data.User>>

@{
    Layout = "_layout_modal.cshtml";
}
<div class="row">
    <div class="table-responsive">
        <table id="usersTb" class="table table-striped  table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.TextFromEntityResource("goliath_cms_data_user_username_label")</th>
                    <th>@Html.TextFromEntityResource("goliath_cms_data_user_firstname_label")</th>
                    <th>@Html.TextFromEntityResource("goliath_cms_data_user_lastname_label")</th>
                    <th>@Html.TextFromEntityResource("goliath_cms_data_user_emailaddress_label")</th>
                    @*<th>@Html.TextFromEntityResource("goliath_cms_data_user_isactive_label")</th>
                    <th>@Html.TextFromEntityResource("goliath_cms_data_user_lastloginon_label")</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td><input type="checkbox" id="usr_cb@(item.Id)" name="usr_cb@(item.Id)" value="@(item.Id)" /> </td>
                        <td><a href="/users/@(item.UserName)">@item.UserName</a></td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.EmailAddress</td>
                        @*<td>@item.IsActive</td>
                        <td>@item.LastLoginOn</td>*@
                    </tr>
                }
            </tbody>
        </table>
        <script type="text/javascript">
                        var totalUserPages = @(Model.TotalPages);

                        function formatColumns (colname, colValue) {
                            switch (colname) {
                                case "userName":
                                    return '<a href="@Url.ContentLocalized("~/users/")"' + colValue + '">' + colValue + "</a>";
                                case "lastLoginOn":
                                    if (colValue == null) {
                                        return " ";
                                    }
                                    else{ return new Date(colValue).toLocaleDateString();}
                                default:
                                    return colValue;
                            }
                        }

                        $(document).ready(function() {
                            $('#usersTb').goTable({
                                url: '@Url.ContentLocalized("~/api/users")',
                                limit: 10,
                                offset: 0,
                                currentPage: 1,
                                totalPages: totalUserPages,
                                columns: ["userName", "firstName", "lastName", "emailAddress"],
                                isPreloaded: true,
                                skipFirstColumn: true,
                                sortColumn: "@(PropertyNames.User.LastName)",
                                formatColumn: formatColumns,
                                firstColumnFormat: makeFirstColumnCheckbox
                            });
                        });

        </script>
    </div>

</div>