﻿@using System.Collections.Generic
@using Laventer.Core
@using Laventer.Core.Data
@using Laventer.Web

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Laventer.Core.Models.EditViewModel<Laventer.Core.Data.Machine>>

@{
    Layout = "_main_master.cshtml";
    UserSession user = new UserSession();
    if (Html.IsAuthenticated)
    {
        user = (UserSession)Html.CurrentUser;
    }
}

<div class="col-md-2">
    @Html.Partial("_sidemenu", "plant")
</div>
<div class="col-md-10">
    <h3>Configure Machine</h3>
    <div class="row">
      

    <div class="col-lg-6">
        @if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.HasError)
        {
            <div class='alert alert-danger'>
                @Model.ExecutionInfo.Message
            <ul>
                @foreach (var err in Model.ExecutionInfo.Errors.Values)
                {
                    <li>@err.ErrorMessage</li>
                }
            </ul>
        </div>
        }
        else if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.HasWarning)
        {
            <div class='alert alert-warning'>@Model.ExecutionInfo.Message</div>}
        else if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.Success)
        {
            <div class='alert alert-success'>@Model.ExecutionInfo.Message</div>}
        else if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.HasInfo)
        {
            <div class='alert alert-info'>@Model.ExecutionInfo.Message</div>}

    </div>
    <div class="col-md-12">
        <div class="content-box-header">
            <div class="panel-title">@Html.TextFromEntityResource("laventer_core_data_machine_label")</div>
            @*<div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
            </div>*@
        </div>
        <div class="content-box-large box-with-header">
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="~/machine/@(Model.Data.Name)/edit" method="post">
                    @Html.HiddenFor(PropertyNames.Machine.Id, Model.Data.Id, new Dictionary<string, object>() { })
                    <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Machine.Name)">
                        <label for="Name" class="col-sm-2 control-label">@Html.TextFromEntityResource("laventer_core_data_machine_name_label")</label>
                        <div class="col-sm-10">
                            @Html.ReadOnlyFor(PropertyNames.Machine.Name, Model.Data.Name, new Dictionary<string, object>() { { "class", "form-control" } })
                        </div>
                    </div>
                    <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Machine.Title)">
                        <label for="Title" class="col-sm-2 control-label">@Html.TextFromEntityResource("laventer_core_data_machine_title_label")</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(PropertyNames.Machine.Title, Model.Data.Title, new Dictionary<string, object>() { { "class", "form-control" } })
                        </div>
                    </div>
                    <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Machine.Description)">
                        <label for="Description" class="col-sm-2 control-label">@Html.TextFromEntityResource("laventer_core_data_machine_description_label")</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(PropertyNames.Machine.Description, Model.Data.Description, new Dictionary<string, object>() { { "class", "form-control" }, { "rows", "5" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
</div>
