﻿@using System.Collections.Generic
@using Goliath.Ums.Data
@using Goliath.Models
@using Goliath.Ums
@using Goliath.Web
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<EditViewModel<Role>>

<div class="">
    @if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.HasError)
    {
        <div class='alert alert-danger'>
            @Model.ExecutionInfo.Message
            <ul>
                @foreach (var err in Model.ExecutionInfo.Errors.Values)
                {
                    <li>@err.ErrorMessage</li>}
            </ul>
        </div>
    }
    else if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.HasWarning)
    {
        <div class='alert alert-warning'>@Model.ExecutionInfo.Message</div>
    }
    else if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.Success)
    {
        <div class='alert alert-success'>@Model.ExecutionInfo.Message</div>
    }
    else if (Model.ExecutionInfo.ExecutionState == ViewExecutionState.HasInfo)
    {
        <div class='alert alert-info'>@Model.ExecutionInfo.Message</div>
    }

    @{
        string mode = "edit";
        if (Model.ActionType == ViewActionType.Add)
        {
            mode = "add";
        }
    }

    <form id="RoleEditForm" class="form-horizontal" role="form" action="@Url.ContentLocalized("~/security/roles/")@(Model.Id)/@(mode)" method="POST">

        @Html.HiddenFor(PropertyNames.Role.Id, Model.Data.Id, new Dictionary<string, object>() { })
        <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Role.RoleNumber)">
            <label class='control-label' for='RoleNumber'>@Html.TextFromEntityResource("goliath_cms_data_role_rolenumber_label")</label>
            @if (Model.ActionType == ViewActionType.Add)
            {
                @Html.TextAreaFor(PropertyNames.Role.RoleNumber, Model.Data.RoleNumber, new Dictionary<string, object>() { { "class", "form-control" } })
            }
            else
            {
                @Html.ReadOnlyFor(PropertyNames.Role.RoleNumber, Model.Data.RoleNumber, new Dictionary<string, object>() { { "class", "form-control" } })
            }
        </div>
        <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Role.Name)">
            <label class='control-label' for='Name'>@Html.TextFromEntityResource("goliath_cms_data_role_name_label")</label>
            @if (Model.ActionType == ViewActionType.Add)
            {
                @Html.TextAreaFor(PropertyNames.Role.Name, Model.Data.Name, new Dictionary<string, object>() { { "class", "form-control" } })
            }
            else
            {
                @Html.ReadOnlyFor(PropertyNames.Role.RoleNumber, Model.Data.RoleNumber, new Dictionary<string, object>() { { "class", "form-control" } })
            }
        </div>
        <div class="form-group @Html.PrintErrorFormGroupClass(PropertyNames.Role.Description)">
            <label class='control-label' for='Description'>@Html.TextFromEntityResource("goliath_cms_data_role_description_label")</label>
            @Html.TextAreaFor(PropertyNames.Role.Description, Model.Data.Description, new Dictionary<string, object>() { { "class", "form-control" }, { "rows", "5" } })
        </div>
    </form>
</div>